.link {
	text-decoration: none;
	color: #FFFFFF;
}

.top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
	box-shadow: 0 0 100px black;
}

.bottom_bar_black {
	width:100%;
	height:100px;
	margin: 130px 0 0 0;
	background-color:#000000;
	box-shadow: 0 0 100px black;
}

.logo_container {
	height:90px;
	width:1400px;
	margin-left:auto;
	margin-right:auto;
}

.header_content_lowerline {
	font-size:35px;
	color:#FFFFFF;
	width:400px;
	font-family: 'Amatic SC', cursive;
	margin-top: 5px;
}

.header_content_lowerboxcontent {
	font-size:16px;
	color:#CCCCCC;
	width:400px;
}

.main_container {
	height:90px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.logo_image {
	max-width:200px;
	max-height:90px;
	float:left;
	margin-left: 210px;
}

.nav_block {
	width: 600px;
	height:90px;
	float:right;
}

.nav_button {
	width: 100px;
	color:#FFFFFF;
	font-family: 'Amatic SC', cursive;
	font-size:30px;
	margin-left:5px;
	margin-top:25px;
	text-align:center;
	float:left;
}

.img_404 {
	width: 500px;
	height: 500px;
	text-align: center;
}