<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Про наш сайт!</title>
    <link href="../static/css/error_404.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Slab:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&family=Roboto+Slab:wght@300&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="top_bar_black">
    <div class="logo_container">
        <img class="logo_image" src="/static/image/hs1.jpg">
        <div class="nav_block">
            <div class="nav_button"><a class="link" href="{{ url_for('home') }}"> Домой </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('about_site') }}"> О сайте </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('decks') }}"> Колоды </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('contact') }}"> Контакты </a></div>
            {% if current_user.is_authenticated %}
                <div class="nav_button"><a class="link" href="{{ url_for('account') }}"> {{ current_user.login }} </a></div>
            {% else %}
                <div class="nav_button"><a class="link" href="{{ url_for('login') }}"> Войти </a></div>
            {% endif %}
        </div>
    </div>
</div>

<img class="img_404" src="static/image/404.png">

<div class="bottom_bar_black">
    <div class="main_container">
        <div class="header_lower">
            <div class="header_content_lowerline">Источники
                <div class="header_content_lowerboxcontent">hearthstone.blizzard.com<br/>
                    www.d0nkey.top<br/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>