<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Про наш сайт!</title>
    <link href="../static/css/about_site_page.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Slab:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&family=Roboto+Slab:wght@300&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="top_bar_black">
    <div class="logo_container">
        <img class="logo_image" src="/static/image/hs1.jpg">
        <div class="nav_block">
            <div class="nav_button"><a class="link" href="{{ url_for('home') }}"> Домой </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('about_site') }}"> О сайте </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('decks') }}"> Колоды </a></div>
            <div class="nav_button"><a class="link" href="{{ url_for('contact') }}"> Контакты </a></div>
            {% if current_user.is_authenticated %}
                <div class="nav_button"><a class="link" href="{{ url_for('account') }}"> {{ current_user.login }} </a></div>
            {% else %}
                <div class="nav_button"><a class="link" href="{{ url_for('login') }}"> Войти </a></div>
            {% endif %}
        </div>
    </div>
</div>

<div class="main">
    <div class="greetings">
        Приветствуем вас на нашем сайте!
    </div>
    <div class="content">
        Главной идеей сайта была возможность добавления и использование пользовательских колод.
        Таким образом неопытные пользователи, которые только зашли в игру, могли бы просто скопировать сильную колоду и
        пойти играть,
        но также можно взять чужую колоду и создать свою на ее основе.
        Для просмотра вам не потребуется регистрация, но для добавления и просмотра своих колод вам стоит пройти
        регистрацию.
    </div>
    <div class="instruction">
        Ниже приведена простая инструкция по добавлению колоды:
    </div>
    <div class="instruction_list">
        <ol>
            <li> Зайдите в вашу коллекцию</li>
            <li> Нажмите на колоду, которую хотите скопировать</li>
            <li> Нажмите на портрет героя</li>
            <li> Нажмите на кнопку "Скопировать"</li>
            <li> Вставьте ссылку в поле на сайте</li>
        </ol>
    </div>
</div>

<div class="bottom_bar_black">
    <div class="main_container">
        <div class="header_lower">
            <div class="header_content_lowerline">Источники
                <div class="header_content_lowerboxcontent">hearthstone.blizzard.com<br/>
                    www.d0nkey.top<br/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>